In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
#Ans:

a = "soumen", [1,2,3], 56.23, (4,5,6)

In [2]:
# Q2. Given are some following variables containing data:
# (i) var1 = ' '
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.
#Ans :

var1 = ' '
print (type (var1))
var2 = '[ DS , ML , Python]'
print (type (var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print (type (var3))
var4 = 1
type (var4)

<class 'str'>
<class 'str'>
<class 'list'>

int

In [3]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **
#Ans :

a = 5 / 2
print (a)
b = 10 % 3
print (b)
c = 15 // 7
print (c)
d = 5 ** 2
print (d)

2.5
1
2
25

In [4]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
#Ans :

l = [1, 2, "soumen", 89.36, True, 8, 5+2j, "data science", 96.36, 78]
for i in l:
    print (type(i))
    print (i)

<class 'int'>
1
<class 'int'>
2
<class 'str'>
soumen
<class 'float'>
89.36
<class 'bool'>
True
<class 'int'>
8
<class 'complex'>
(5+2j)
<class 'str'>
data science
<class 'float'>
96.36
<class 'int'>
78

In [16]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
#Ans :

A = int(input("Enter number A: "))
B = int(input("Enter number B: "))
count = 0

while A >= B:
    A = A - B
    count += 1

if A == 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  20
Enter number B:  5

0 is purely divisible by 5 and can be divided 4 times.

In [6]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.
#Ans :

l = [1,2,3,4,5,9,30,75,9,6,789,3,12,56,37,259,15,18,30,27,63,78,165,23,73]
for i in l:
    if i % 3 == 0:
        print (i, ' is divisible by 3')
    else :
        print (i, ' is not divisible by 3')

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
9  is divisible by 3
30  is divisible by 3
75  is divisible by 3
9  is divisible by 3
6  is divisible by 3
789  is divisible by 3
3  is divisible by 3
12  is divisible by 3
56  is not divisible by 3
37  is not divisible by 3
259  is not divisible by 3
15  is divisible by 3
18  is divisible by 3
30  is divisible by 3
27  is divisible by 3
63  is divisible by 3
78  is divisible by 3
165  is divisible by 3
23  is not divisible by 3
73  is not divisible by 3

In [7]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
#Ans :

# A mutable data type is one that can be modified after its creation. Example - Lists, dictionaries, and sets etc..

l1 = [1, 2, 3, "pwskills", True, 8+3j, 96.36]

l1 [0] = 'data science'
print (l1)

['data science', 2, 3, 'pwskills', True, (8+3j), 96.36]

In [9]:
# An immutable data type is a type of object whose value cannot be changed after it is created. Example - String, Tuple etc..

s = "soumen"
s [0] = 'y'

TypeError: 'str' object does not support item assignment